<!DOCTYPE html>
<html>
    <head>

  <title>

  </title>

  <meta content="summary_large_image" name="twitter:card">

  <meta content="website" property="og:type">

  <meta content="" property="og:description">

  <meta content="https://qsihukin13.preview-postedstuff.com/V2-Zuv3C-le8D-q8yW-QLxP/" property="og:url">

  <meta content="https://pro-bee-beepro-thumbnails.s3.amazonaws.com/messages/819607/803542/1700532/7898661_large.jpg" property="og:image">

  <meta content="" property="og:title">

  <meta content="" name="description">

  <meta charset="utf-8">

  <meta content="width=device-width" name="viewport">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    </head>

    <body>

  <div class="bee-page-container" style="box-sizing: border-box;">

    <div class="bee-row bee-row-1" style="box-sizing: border-box; position: relative; background-color: rgb(248, 233, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(255, 255, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat; color: rgb(0, 0, 0);">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%; padding-bottom: 5px; padding-top: 5px;">

          <div class="bee-block bee-block-1 bee-image" style="box-sizing: border-box; overflow-x: auto; overflow-y: auto; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; width: 100%;">

            <a href="http://subscribie.co.uk/" id="i0pgv" style="box-sizing: border-box; color: rgb(0, 104, 165);"><img alt="Your Logo" src="https://images.unlayer.com/projects/84075/1654754538831-Subscribie%20Blue.png" id="idp6l" class="bee-center bee-fixedwidth" style="box-sizing: border-box; display: block; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; max-width: 156px;"></a>

          </div>

          <div class="bee-block bee-block-2 bee-heading" style="box-sizing: border-box; padding-top: 15px; text-align: center; width: 100%;">

            <h1 id="iaw1o" style="box-sizing: border-box; margin-right: 0px; margin-left: 0px; color: #ffffff; direction: ltr; font-family: 'Oswald', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 54px; font-weight: 400; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 0; margin-bottom: 0;">

              <strong style="box-sizing: border-box;"><span id="i58xw" style="box-sizing: border-box; color: #000000;">

                AppSumo Code

                </span><span id="ig64w" style="box-sizing: border-box; color: #4e39e7;">

                Redemption

                </span></strong>

            </h1>

          </div>

        </div>

      </div>

    </div>

    <div class="bee-row bee-row-2" style="box-sizing: border-box; position: relative; background-size: auto; background-repeat-x: no-repeat; background-repeat-y: no-repeat; background-color: rgb(248, 233, 255);">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); background-size: auto; background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%;">

          <div class="bee-block bee-block-1 bee-form" style="box-sizing: border-box; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; font-size: 16px; text-align: center; font-family: inherit;">

            <form id="form" accept-charset="UTF-8" action="#" autocomplete="on" enctype="multipart/form-data" method="post" target="_self" style="box-sizing: border-box; display: inline-block; width: 100%;">

              <div class="bee-form-row" style="box-sizing: border-box;">

                <div class="bee-field bee-field-id_dyoedz" style="box-sizing: border-box; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; display: flex; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; flex-wrap: wrap; align-items: center;">

                  <label for="id_dyoedz" style="box-sizing: border-box; color: rgb(0, 0, 0); line-height: 200%; text-align: left; letter-spacing: normal; display: block; flex-basis: 100%; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px;">

                    Redemption Code

                  </label>

                  <input id="id_dyoedz" name="redemption_code" placeholder="" style="box-sizing: border-box; flex-grow: 1; font-family: inherit; font-size: inherit; color: rgb(255, 255, 255); background-color: transparent; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 0, 0); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; min-height: 42px; width: 100%; color:black;" required>

                </div>

              </div>

              <div class="bee-form-row" style="box-sizing: border-box;">

                <div class="bee-field bee-field-id_43iju5" style="box-sizing: border-box; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; display: flex; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; flex-wrap: wrap; align-items: center;">

                  <label for="id_43iju5" style="box-sizing: border-box; color: rgb(0, 0, 0); line-height: 200%; text-align: left; letter-spacing: normal; display: block; flex-basis: 100%; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px;">

                   Name

                  </label>

                  <input id="id_43iju5" name="person_name" style="box-sizing: border-box; flex-grow: 1; font-family: inherit; font-size: inherit; color: rgb(255, 255, 255); background-color: transparent; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 0, 0); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; min-height: 42px; width: 100%;color: black;" required>

                </div>

              </div>

              <div class="bee-form-row" style="box-sizing: border-box;">

                <div class="bee-field bee-field-id_s561io" style="box-sizing: border-box; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; display: flex; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; flex-wrap: wrap; align-items: center;">

                  <label for="id_s561io" style="box-sizing: border-box; color: rgb(0, 0, 0); line-height: 200%; text-align: left; letter-spacing: normal; display: block; flex-basis: 100%; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px;">

                    Email

                  </label>

                  <input id="id_s561io" name="email" type="email" style="box-sizing: border-box; flex-grow: 1; font-family: inherit; font-size: inherit; color: rgb(255, 255, 255); background-color: transparent; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 0, 0); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; min-height: 42px; width: 100%; color:black;" required>

                </div>

              </div>

              <div class="bee-form-row" style="box-sizing: border-box;">

                <div class="bee-field bee-field-id_s32fso" style="box-sizing: border-box; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; display: flex; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; flex-wrap: wrap; align-items: center;">

                  <label for="id_s32fso" style="box-sizing: border-box; color: rgb(0, 0, 0); line-height: 200%; text-align: left; letter-spacing: normal; display: block; flex-basis: 100%; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px;">

                    Business Name (Shop Name)

                  </label>

                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <span style="color:red">{{ message }}</span>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}

                  <input id="company_name" name="company_name" style="box-sizing: border-box; flex-grow: 1; font-family: inherit; font-size: inherit; color: rgb(255, 255, 255); background-color: transparent; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 0, 0); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; min-height: 42px; width: 100%; color:black;" placeholder="My amazing business..." required>

                </div>

              </div>

              <div class="bee-form-row" style="box-sizing: border-box;">

                <div class="bee-field bee-field-id_s99fso" style="box-sizing: border-box; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; display: flex; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; flex-wrap: wrap; align-items: center;">

                  <label for="id_s99fso" style="box-sizing: border-box; color: rgb(0, 0, 0); line-height: 200%; text-align: left; letter-spacing: normal; display: block; flex-basis: 100%; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px;">

                    Shop Password

                  </label>

                  <input id="id_s99fso" name="password" type="password" style="box-sizing: border-box; flex-grow: 1; font-family: inherit; font-size: inherit; color: rgb(255, 255, 255); background-color: transparent; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(0, 0, 0); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(0, 0, 0); padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; min-height: 42px; width: 100%; color:black;" required>

                </div>

              </div>
              

              <div class="bee-form-row" style="box-sizing: border-box;">

                <div class="bee-field bee-field-id_myqzz5" style="box-sizing: border-box; padding-top: 3px; padding-right: 3px; padding-bottom: 3px; padding-left: 3px; display: flex; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; flex-wrap: wrap; align-items: center;">

                  <div class="bee-button-container" style="box-sizing: border-box; flex-grow: 1;">

                    <h3 id="pleaseWait" style="display:none">Please wait...</h3>
                    <button id="submitBtn" type="submit" value="Submit" style="box-sizing: border-box; font-size: inherit; font-family: inherit; background-color: rgb(47, 65, 178); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-width: 0px; border-top-style: solid; border-top-color: transparent; border-right-width: 0px; border-right-style: solid; border-right-color: transparent; border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: transparent; border-left-width: 0px; border-left-style: solid; border-left-color: transparent; color: rgb(255, 255, 255); line-height: 200%; width: auto; letter-spacing: normal; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px;">

                      Submit

                    </button>

                  </div>

                </div>

              </div>

            </form>

          </div>

        </div>

      </div>

    </div>

    <div class="bee-row bee-row-3" style="box-sizing: border-box; position: relative; background-color: rgb(248, 233, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(255, 255, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat; color: rgb(0, 0, 0);">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%; padding-bottom: 5px; padding-top: 5px;">

          <div class="bee-block bee-block-1 bee-spacer" style="box-sizing: border-box;">

            <div class="spacer" id="ii6wb" style="box-sizing: border-box; height: 15px;">

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="bee-row bee-row-4" style="box-sizing: border-box; position: relative; background-color: rgb(248, 233, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(148, 18, 203); background-image: url('https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/819607_803542/editor_images/542830a1-3619-4afd-8a5b-3112376eb01b.jpg'); background-position-x: center; background-position-y: top; background-repeat-x: no-repeat; background-repeat-y: no-repeat; color: rgb(0, 0, 0);">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%; padding-bottom: 20px; padding-top: 20px;">

          <div class="bee-block bee-block-1 bee-heading" style="box-sizing: border-box; padding-left: 10px; padding-right: 10px; padding-top: 15px; width: 100%; text-align: center;">

            <h2 id="ims44" style="box-sizing: border-box; margin-right: 0px; margin-left: 0px; color: #ffffff; direction: ltr; font-family: 'Oswald', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 52px; font-weight: 700; letter-spacing: normal; line-height: 150%; text-align: center; margin-top: 0; margin-bottom: 0;">

              <strong style="box-sizing: border-box;"><span id="i1rfu" style="box-sizing: border-box; color: #ffffff;"><span id="imtot" style="box-sizing: border-box; color: #2944de;">

                REDEMPTION

                </span>

                INSTRUCTIONS

                </span></strong>

            </h2>

          </div>

        </div>

      </div>

    </div>

    <div class="bee-row bee-row-5" style="box-sizing: border-box; position: relative; background-color: rgb(248, 233, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(255, 255, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat; color: rgb(0, 0, 0);">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%; padding-bottom: 5px; padding-top: 5px;">

          <div class="bee-block bee-block-1 bee-spacer" style="box-sizing: border-box;">

            <div class="spacer" id="i80px" style="box-sizing: border-box; height: 20px;">

            </div>

          </div>

          <div class="bee-block bee-block-2 bee-list" style="box-sizing: border-box; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; color: rgb(16, 17, 18); font-size: 24px; font-family: Ubuntu, Tahoma, Verdana, Segoe, sans-serif; font-weight: 400; line-height: 150%; text-align: center; direction: ltr; letter-spacing: 0px;">

            <ul start="1" style="box-sizing: border-box; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: revert; list-style-position: inside;">

              <li style="box-sizing: border-box; margin-bottom: 0px;">

                Enter your code

              </li>

              <li style="box-sizing: border-box; margin-bottom: 0px;">

                Press submit

              </li>

              <li style="box-sizing: border-box;">

                <strong style="box-sizing: border-box;">

                  ENJOY!

                </strong>

              </li>

            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="bee-row bee-row-6" style="box-sizing: border-box; position: relative; background-color: rgb(248, 233, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(255, 255, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat; color: rgb(0, 0, 0);">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%; padding-bottom: 5px; padding-top: 5px;">

          <div class="bee-block bee-block-1 bee-spacer" style="box-sizing: border-box;">

            <div class="spacer" id="ijozn" style="box-sizing: border-box; height: 10px;">

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="bee-row bee-row-7" style="box-sizing: border-box; position: relative; background-color: rgb(248, 233, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat;">

      <div class="bee-row-content" style="box-sizing: border-box; position: relative; max-width: 1250px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; display: flex; background-color: rgb(255, 255, 255); background-repeat-x: no-repeat; background-repeat-y: no-repeat; color: rgb(0, 0, 0);">

        <div class="bee-col bee-col-1 bee-col-w12" style="box-sizing: border-box; flex-basis: 100%; padding-bottom: 5px; padding-top: 10px;">

          <div class="bee-block bee-block-1 bee-spacer" style="box-sizing: border-box;">

            <div class="spacer" id="iccgp" style="box-sizing: border-box; height: 10px;">

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
<style>

  @media (max-width: 768px) {

    .bee-form form {

      width: 100% !important;

    }

    .bee-row-content:not(.no_stack) {

      display: block;

    }

  }

  @media (max-width: 700px) {

    .desktop_hide table.icons-inner {

      display: inline-block !important;

    }

    .icons-inner td {

      margin-top: 0px;

      margin-right: auto;

      margin-bottom: 0px;

      margin-left: auto;

    }

    .row-content,

    .image_block img.big {

      width: 100% !important;

    }

    .stack .column {

      width: 100%;

      display: block;

    }

    .desktop_hide,

    .desktop_hide table {

      display: table !important;

      max-height: none !important;

    }

  }

  @media (max-width: 690px) {

    .desktop_hide table.icons-inner {

      display: inline-block !important;

    }

    .icons-inner td {

      margin-top: 0px;

      margin-right: auto;

      margin-bottom: 0px;

      margin-left: auto;

    }

    .image_block img.big {

      width: auto !important;

    }

    .menu-checkbox[type="checkbox"] ~ .menu-links {

      padding-top: 5px;

      padding-right: 0px;

      padding-bottom: 5px;

      padding-left: 0px;

      display: none !important;

    }

    .menu-checkbox[type="checkbox"]:checked ~ .menu-trigger .menu-open {

      display: none !important;

    }

    .menu-checkbox[type="checkbox"]:checked ~ .menu-links,

    .menu-checkbox[type="checkbox"] ~ .menu-trigger {

      display: block !important;

      max-width: none !important;

      max-height: none !important;

      font-size: inherit !important;

    }

    .menu-checkbox[type="checkbox"] ~ .menu-links > a,

    .menu-checkbox[type="checkbox"] ~ .menu-links > span.label {

      text-align: center;

      display: block !important;

    }

    .menu-checkbox[type="checkbox"]:checked ~ .menu-trigger .menu-close {

      display: block !important;

    }

    .mobile_hide,

    .column .border {

      display: none;

    }

    table {

      table-layout: fixed !important;

    }

    .stack .column {

      width: 100%;

      display: block;

    }

    .desktop_hide,

    .desktop_hide table {

      display: table !important;

      max-height: none !important;

    }

    .row-content,

    .image_block img.big {

      width: 100% !important;

    }

  }

</style>
<script>
function logSubmit(event) {
  var exists = "false";
  const company_name = document.getElementById("company_name").value;
  document.getElementById("submitBtn").style.display = "none";
  document.getElementById("pleaseWait").style.display = "";
  fetch(`{{ subscribie_domain }}/api/shop-name-taken/${company_name}`)
      .then((response) => response.json())
      .then((data) => exists = data; console.log(data));
  console.log(exists);
  if (exists == true) {
    console.log("the site already exists");
  }
  else {
    log.textContent = `Form Submitted! Time stamp: ${event.timeStamp}`;
    event.preventDefault();
    document.getElementById("form").submit();
  }
}
const form = document.getElementById('form');
form.addEventListener('submit', logSubmit);

</script>

</body>

</html>
